<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>探偵君</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <h1>探偵君！</h1>

  <div id="main">
    <div class="difficulty-menu">
      難易度
      <select v-model="difficulty">
        <option v-for="i in maxDifficulty">{{ i }}</option>
      </select>
    </div>

    <predict-area></predict-area>

    <select-buttons :difficulty="difficulty">HIT</select-buttons>
    <select-buttons :difficulty="difficulty">BLOW</select-buttons>
  </div>

  <script src="./vue.js"></script>
  <script src="./underscore-min.js"></script>
  <script src="./script.js"></script>
</body>
</html>

